@import "styles/cursor.scss";
@import "styles/colors.scss";

@font-face {
  font-family: "Apfel Grotesk";
  src: url("./assets/apfelGrotezk/ApfelGrotezk-Regular.woff2") format("woff2");
}

html,
html * {
  cursor: none;
}

body {
  font-size: 12px;
  font-family: "Apfel Grotesk";
  margin: 0;
  padding: 0;
  background: linear-gradient(-95deg, #f4f5f4, #e4e1e1);
  font-size: 16px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: grid;
  place-items: center center;
}

p {
  font-family: "Apfel Grotesk";
  font-size: 1em;
  color: #666;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1.5em;
}

#root,
.App,
.Page {
  width: 100%;
}

.Home,
.Work {
  display: grid;
  place-items: center;
}

.Info {
  width: 70%;
  padding: 10%;
}

.link {
  margin: 1em 2em;
  text-decoration: none;
  color: #333;
  font-size: 1em;
}

.text-saffron {
  color: $saffron;
}
.about {
  padding: 1em 0;
}
.navigation {
  position: absolute;
  top: 0;
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 400px;
}

